name: Cotizations Bot

on:
  schedule:
    # 10:00–20:59 Argentina (UTC-3) → 13–23 UTC
    - cron: "0 13-23 * * *"
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Ejecutar cotizations-bot
        run: |
          python test.py

